@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Roboto&display=swap');

body #wrap {
	font-family: 'Noto Sans', 'Noto Sans JP', 'Roboto';
}

.full-screen-header {
	margin: 20px 28px;
	flex: 0 0 auto;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	height: 150px;
}

.full-screen-header::after {
	content: '';
	display: block;
	bottom: -20px;
	left: 0;
	right: 0;
	position: absolute;
	border-bottom: 2px solid #f3f3f4;
}
.full-screen-main {
	flex: 1 1 auto;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
	text-align: center;
	padding: 20px 0;
}
.full-screen-main.zoomed {
	width: 85%;
	padding-right: 0;
}

.full-screen-main #square-background {
	display: inline-block;
	margin: 0 20px;
}
.full-screen-main #media-viewer {
	display: flex;
	margin: 0 20px;
}

.square-background {
	width: 500px;
	height: 450px;
	background-color: #413838;
	opacity: 90%;
	align-items: center;
	position: relative;
	text-align: center;
	margin: auto;
	border-radius: 20px;
}

.box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.logo {
	width: 90px;
	height: auto;
	justify-self: end;
}

.logo-p {
	grid-column: 1;
	grid-row: 1 /3;
	align-self: center;
	justify-self: end;
}

.city-input {
	align-self: center;
	margin-left: 1%;
	grid-column: 2;
	grid-row: 2;
}
.city-input #city-input {
	border-radius: 10px;
	width: 120px;
	outline: none;
}
